language: java
jdk: oraclejdk8
addons:
  apt:
    packages:
      - oracle-java8-installer
env:
  global:
  - secure: fIwS3wctOKMs+yEE8s4lvtcwJEgktzHCliK+D7ShJ8Lia98JWCc/JhGMlCtX3RFkQjIy0syIJKw2eQglxNqqFqoO7EsQhipgf9An+hVVbw/Tn7t1xIslSw9EzFUTRA/wP00JLKunUizR6YxuLmq9VbxzJdK+kr5v1g3ggq311sKE8bpWWqTvixKkhQg2ULyqHZ3cPcMnxAmLG8jiddgnN7PcDL0MOePiSQeNawwFNoI7rp6rZRfREHyrHrwIo7USfPP8R8Mk0z9b08MxW0ZG4P04M0jWZRobqXMYz/PW2GALn0UQPDjg+8OI4qtmmunPYR0mwkgRumpem8LhIjHoOXZu/Oq8OqU+76x/gcEU25nkz3EH59si/kGOxObJUFUil6pt4QjA/QSI7dzC+yQIabOfJEOH8D3q9Eb6JBRWIf26pj02b2IbWmPFEooxQXL7XNQ/eYmnrw0UhOQvBPJ+YntQmpHlJKNwPD5lIOrqvLWoUWYe5oB83o2G2CyybzuPBrioUxr4XcGFiq4W5X3rjCQpNHTPS1QOPLukisYMdXQPkcTsvcrEUHvA2bH6a2gmvG7ykR9iHqPrpARqxt1qO84RbgK/pJhNcayZKRDrNjxHxiaQJXT5xlIjld1uxAM7kRUunuWNm57gi170LveMFK668PVcUAQTrD09eosrbKQ=
  - secure: MlwQtz4tO1mmNmPE2PIxYI552puyQpQa690C6ZOldvL0zGhw5mgj5JD8G4I4RmuaNev7mpdnBecoTEg6q2pxPTHQEgQmHVX5X7SPf1Loyes35AWzscGhWVwFdOF6ZqccB8PUZrUZ2CAD83JjG39/PGk5bxqwBNFkeFBQrGYhDuL5caqJ9/MTfKHM/NoR66ygigscnsfb8qwtS1wpSJ5LbFrC2KFzGfDXuP5bjkz9PZdQrS8c7nC63KcdeENpqwdrWWzrw3hf0uSh3xEZp7SziDZ0wMOX6lmIIzRjmlJIPF4BD9MsDiPqhmwJk4MdvKtWAzKJTnGxmygNLVw7YKnqULnWjsOmNfraHGEkqSE/DCccsjAIzYP0vD7V+JgXOk5JLvwLGff3VW9457f2pAMWJgliL9r136DKLMvxiMpXgFp3BkZHsc80Ve1G9nqgGMqp1zrCgE78mqQJ5AFQczfTZOXNsjLkGYgs38k7aLiCAm8p9ZHYBo4DZiaPKc/K2XkBmTP+2KuHpwXGUbnvfFFoHuwV1iDh+CeEo1N4UZrhwPCXTNaJKYQCQ8d7u2Vvt27Ido+IfvSnKvBlHMkpmzAdyF5dhT3jR0xEartpMw8MmUnKVxanJitfLME1qInf7INhFkkRECj9yFpFA1kCM+dszxdEEaBmD0D004xd0rU4Y3c=
script:
- "./gradlew build uploadArchives testScoverage reportScoverage --no-daemon --stacktrace --no-build-cache"
after_success:
- bash <(curl -s https://codecov.io/bash)
